<div class="products">
    <div *ngFor="let product of products">
      <div>
        <img src="https://cdn-icons-png.flaticon.com/512/73/73814.png" class="liked" *ngIf="!product.liked" (click)="likeClicked(product)">
        <img src="https://cdn-icons-png.flaticon.com/512/833/833472.png" class="liked" *ngIf="product.liked" (click)="likeClicked(product)">
        <div class="product">
        <div class="product-image">
        <img src="{{product.img}}" [routerLink]="['/categories', categoryIDtoString(product.category), 'products', product.id]">
      </div>
        <div class="product-name"  [routerLink]="['/categories', categoryIDtoString(product.category), 'products', product.id]">{{product.name}}</div>
        <div class="product-price">{{product.price}}тг</div>
        </div>
      </div>
    </div>
    </div>

<div *ngIf="products.length==0" class="NotFound">
    <img src="https://marketplace.canva.cn/tSgzk/MAFJ2UtSgzk/1/tl/canva-kazakh-icon-MAFJ2UtSgzk.png" class="NotFoundIcon">
    <p class="NotFoundTitle">Товар с названием "{{title}}" не существует</p>
</div>
