h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    color: white;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px; /* Add space between rows */
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

th {
    background-color: #f2f2f2;
    padding: 15px;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
    font-size: 18px;
    color: #333;
    text-align: center;
}

td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    color: white;
    text-align: center;
}

tr:last-child td {
    border-bottom: none; /* Remove border from the last row */
}

tr:hover {
    background-color: #f9f9f9;
}
tr:hover td {
    color: black;
}