<div class = "banner">
  <div class = "tagline">
    <h1>Araba.kz</h1>
    <p>Simplifying car buying and selling</p>
  </div>
  <video autoplay loop muted playsinline>
    <source src = "../../assets/Camry.mp4" type = "video/mp4">
  </video>
</div>

<div class="plan">
  <h2 class="capt">Popular categories</h2>
  <div class="plans">
    <div class="plans_item">
      <h2 class="plan_type">New cars</h2>

      <p class="last">Get what you deserve</p>
      <a [routerLink]="['/categories', 9, 'products']" class="linkerclone2">See</a>
    </div>
    <div class="plans_item">
      <h2 class="plan_type">Used cars</h2>
      <p class="last">Save money and time</p>
      <a [routerLink]="['/categories', 10, 'products']" class="linkerclone2">See</a>
    </div>
    <div class="plans_item">
      <h2 class="plan_type">Accessories</h2>

      <p class="last">Fascinating</p>
      <a [routerLink]="['/categories', 11, 'products']" class="linkerclone2">See</a>
    </div>
  </div>
</div>

<div class="banner2">
  <h1>Solar Roof</h1>
  <p>Produce Clean Energy From Your Roof</p> <br>
  <button>Explore</button>
</div>
