.product{
    display: flex;
    flex-direction: column;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 14px;
    overflow: hidden;
    margin-bottom: 40px;
    margin-right: 4rem;
    border-bottom: 1px solid gray;
  }

  .product-price{
    font-family: Calibri;
    font-weight: 600;
  }

  .product-image{
    width: 300px;
    height: 330px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .liked{
    width: 30px;
    position: relative;
    left: 16rem;
    top: 3em;
  }

  .products{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    margin-left: 3%;
  }


  .NotFound{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem auto;
    justify-content: space-between;
    height: 14rem;
  }
  .NotFoundIcon{
    width: 120px;
  }
  .NotFoundTitle{
    font-size: 22px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
  }


